<%= form_with model: borrower, url: borrower.persisted? ? borrower_path(borrower) : borrowers_path do |f| %>
  <% if borrower.errors.any? %>
    <div id="errors">
      <ul>
        <% borrower.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: "field__label" %>
    <div class="field__control">
      <%= f.text_field :name, class: "field__input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :phone, class: "field__label" %>
    <div class="field__control">
      <%= f.telephone_field :phone, class: "field__input" %>
    </div>
  </div>

  <div>
    <%= f.submit class: "btn btn--primary" %>
  </div>
<% end %>
