<h1><%= t(".title") %></h1>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<%= form_with url: session_path, scope: :session do |f| %>
  <div class="field">
    <%= f.label :email, class: "field__label" %>
    <div class="field__control">
      <%= f.email_field :email, autofocus: true, class: "field__input" %>
    </div>
  </div>

  <div>
    <%= f.submit t(".submit"), class: "btn btn--primary" %>
  </div>
<% end %>

<p><%= link_to t(".sign_up"), new_registration_path, class: "btn btn--link" %></p>
