<%= form_with model: loan, url: loan.persisted? ? loan_path(loan) : loans_path do |f| %>
  <% if loan.errors.any? %>
    <div id="errors">
      <ul>
        <% loan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :borrower_id, class: "field__label" %>
    <div class="field__control">
      <%= render "loans/borrowers/borrower_select",
        borrowers: @account.borrowers.order(:name),
        selected_id: loan.borrower_id %>
    </div>

    <% if local_assigns.fetch(:allow_new_borrower, false) %>
      <%= link_to t(".new_borrower"), new_loans_borrower_path, data: { turbo_frame: "inline_borrower_form" } %>

      <%= turbo_frame_tag "inline_borrower_form",
        src: (@account.borrowers.none? ? new_loans_borrower_path : nil),
        data: { controller: "inline-form" } %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :amount, class: "field__label" %>
    <div class="field__control">
      <%= f.number_field :amount, step: "0.01", class: "field__input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :annual_interest_rate, class: "field__label" %>
    <div class="field__control">
      <%= f.number_field :annual_interest_rate, step: "0.01", min: "0", class: "field__input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :term_months, class: "field__label" %>
    <div class="field__control">
      <%= f.number_field :term_months, step: "1", min: "1", class: "field__input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :start_date, class: "field__label" %>
    <div class="field__control">
      <%= f.date_field :start_date, class: "field__input" %>
    </div>
  </div>

  <div>
    <%= f.submit class: "btn btn--primary" %>
  </div>
<% end %>
