<h1><%= t(".title") %></h1>

<%= link_to t(".new"), new_loan_path %>

<% @loans.each do |loan| %>
  <div>
    <%= link_to loan.borrower.name, loan_path(loan) %>
    <span><%= number_to_currency(loan.amount, unit: "$", separator: ".", delimiter: ",") %></span>
    <span><%= l(loan.start_date) %></span>
  </div>
<% end %>
